/*
CSS RESET
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.mainGrid {
    display: grid;
    width: 1440px;
    height: 900px;
    grid-template-columns: 1040px 400px;
    grid-template-rows: 30px 870px;
    grid-template-areas: "header header" "mainColumn secondaryColumn";
    border:3px solid #020204;
}

.header {
    grid-area: header;
    background-color: #04131e;
    border-bottom:1px solid #020204;
}
.footer {
    grid-area: footer;
    background-color:#04131e;
    border-top:1px solid #020204;
}

.mainArea {
    grid-area: mainColumn;
    background-color: #194162;
    display: grid;
    grid-template-columns: 20px 1000px 20px;
    grid-template-rows: 20px 800px 20px 30px;
    grid-template-areas: ". topBar ." "leftBar mainDisplay rightBar" ". bottomBar ." "mainAreaBottom mainAreaBottom mainAreaBottom";
}

.moveBar{
    background-color: #194162;
    overflow:hidden;
}

.moveBar:hover{
    background-color:#8cc6e5;
    transition: background-color 0.5s;
}

.moveUpBar {
    grid-area: topBar;
    border-bottom:1px solid black;
}

.moveUpBar:hover{
    margin-left:-20px;
    margin-right:-20px;
    border-left:1px solid black;
    border-right:1px solid black;
}

.moveLeftBar {
    grid-area: leftBar;
    border-right:1px solid black;
}

.moveLeftBar:hover {
    margin-top:-20px;
    margin-bottom:-20px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.moveRightBar {
    grid-area: rightBar;
    border-left:1px solid black;
}

.moveRightBar:hover {
    margin-top:-20px;
    margin-bottom:-20px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.moveDownBar {
    grid-area: bottomBar;
    border-top:1px solid black;
}

.moveDownBar:hover {
    margin-left:-20px;
    margin-right:-20px;
    border-left:1px solid black;
    border-right:1px solid black;
}

.mainDisplay{
    grid-area: mainDisplay;
    background-color:#020204;
}

.mainAreaBottom{
    grid-area: mainAreaBottom;
    background-color:#04131e;
    border-top:1px solid #020204;
}
.secondaryArea {
    grid-area: secondaryColumn;
    background-color:#0d2534;
    display:grid;
    grid-template-rows:365px 400px 105px;
    grid-template-areas: "secondaryAreaTop" "secondaryAreaMiddle" "secondaryAreaBottom";
    border-left:1px solid #020204;
}
.secondaryAreaTop{
    grid-area:secondaryAreaTop;
    border-bottom:1px solid black;
}

.secondaryAreaMiddle{
    grid-area: secondaryAreaMiddle;
}

.secondaryAreaBottom{
    grid-area: secondaryAreaBottom;
    background-color:#04131e;
    border-top:1px solid #020204;
}