/*
CSS RESET
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    min-width:1440px;
    min-height:890px;
    width:1440px;
    height:890px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*MAIN LAYOUT*/
.mainGrid {
    display: grid;
    width: 1440px;
    height: 920px;
    grid-template-columns: 1040px 400px;
    grid-template-rows: 20px 900px;
    grid-template-areas: "header header" "mainColumn secondaryColumn";
    border:3px solid #020204;
}

.header {
    grid-area: header;
    background-color: #04131e;
    border-bottom:2px solid #020204;
}
.footer {
    grid-area: footer;
    background-color:#04131e;
    border-top:1px solid #020204;
}
/*MENUBAR*/
#menuBar li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}
#menuBar li:hover{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    background-color: #5a98ba;
}

/*MAIN AREA*/
.mainArea {
    grid-area: mainColumn;
    background-color: #194162;
    display: grid;
    grid-template-columns: 20px 1000px 20px;
    grid-template-rows: 20px 800px 20px 30px 30px;
    grid-template-areas: ". topBar ." "leftBar mainDisplay rightBar" ". bottomBar ." "controlArea controlArea controlArea" "mainAreaBottom mainAreaBottom mainAreaBottom";
}
    /*MOVE BARS*/
.moveBar{
    background-color: #194162;
    overflow:hidden;
    display:flex;
    justify-content: center;
}

.moveBar:hover{
    background-color:#5a98ba;
    transition: background-color 0.5s;
}

.moveUpBar {
    grid-area: topBar;
    border-bottom:1px solid black;
}

.moveUpBar:hover{
    margin-left:-20px;
    margin-right:-20px;
    border-left:1px solid black;
    border-right:1px solid black;
}

.moveLeftBar {
    grid-area: leftBar;
    border-right:1px solid black;
}

.moveLeftBar:hover {
    margin-top:-20px;
    margin-bottom:-20px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.moveRightBar {
    grid-area: rightBar;
    border-left:1px solid black;
}

.moveRightBar:hover {
    margin-top:-20px;
    margin-bottom:-20px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.moveDownBar {
    grid-area: bottomBar;
    border-top:1px solid black;
}

.moveDownBar:hover {
    margin-left:-20px;
    margin-right:-20px;
    border-left:1px solid black;
    border-right:1px solid black;
}

.moveButtonImage{
    display: block;
    margin:auto;
}

    /*MAIN CANVAS*/
.mainDisplay{
    grid-area: mainDisplay;
    background-color:#020204;
}

.mainCanvas{
    width:1000px;
    height:800px;
}
    /*CONTROL BAR*/
.controlArea{
    grid-area:controlArea;
    border-top:1px solid #020204;
    display:grid;
    grid-template-columns: 150px 740px 150px;
    grid-template-areas: "stateDisplay controlBar positionDisplay";
}

.controlBar{
    grid-area:controlBar;
    background-color:#04131e;
}

.controlBlock{
    display:inline-block;
    width:243px;
    font-size:16px;
    color:#81bbda;
    text-align:center;
}

.controlButton{
    height:28px;
    background-color:#81bbda;
}

.controlIcon{
    width:10px;
    height:10px;
}

.numberInput{
    width:20px;
    background-color:#81bbda;
}

.mousePositionArea{
    grid-area:positionDisplay;
}

    /*STATUS BAR*/
.mainAreaBottom{
    grid-area: mainAreaBottom;
    background-color:#04131e;
    border-top:1px solid #020204;
}

.statusBlock{
    margin-left:5px;
    display:inline-block;
    color: white;
    font-size: 12px;
    vertical-align: middle;
    padding-top:7px;
    padding-bottom:7px;
}

.statusIcon{
  vertical-align: middle;
  width:12px;
  height:12px;
}

.statusStaticText{
    font-size:14px;
    color:#81bbda;
}

/*SECONDARY DISPLAY*/
.secondaryArea {
    grid-area: secondaryColumn;
    background-color:#0d2534;
    display:grid;
    grid-template-rows:365px 415px 120px;
    grid-template-areas: "secondaryAreaTop" "secondaryAreaMiddle" "secondaryAreaBottom";
    border-left:1px solid #020204;
}
.secondaryAreaTop{
    grid-area:secondaryAreaTop;
    border-bottom:1px solid black;
}
.secondaryCanvasArea{
    width:300px;
    height:300px;
    background-color:black;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}

.secondaryCanvas {
    width:300px;
    height:300px;
}
.savePatternWrap{
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    width:300px;
}

.savePatternWrap button{
    float:right;
}
.patternNameInput{
    background-color:#81bbda;
    height:20px;
    width:220px;
}
.secondaryAreaMiddle{
    grid-area: secondaryAreaMiddle;
}

.categorySelectWrap{
    padding:5px;
    color:#81bbda;
}
.patternListContainer{
    overflow-y:scroll;
    height:343px;
    width:100%;
}
.patternListElement{
    border:1px solid black;
    margin-left:5px;
    margin-right:5px;
    background-color:#81bbda;
    padding:5px;
    font-size:1.1em;
}

.patternListElement button{
    float:right;
    background-color: #81bbda;
}

.areaTitle{
    text-align: center;
    color:#81bbda;
    font-size: 1.1em;
    padding:4px;
    background-color:#04131e;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.secondaryAreaBottom{
    grid-area: secondaryAreaBottom;
    background-color:#04131e;
    border-top:1px solid #020204;
}

.messageBox{
    height:93px;
    width:390px;
    background-color:black;
    margin-left:auto;
    margin-right:auto;
    overflow-y:scroll;
    overflow-x:hidden;
    word-wrap: break-word;
}

.alertMessage{
    color:red;
    margin-left:5px;
    margin-right:5px;
    padding:5px;
    padding-left:50px;
    text-indent:-45px;
}

.floatLeft{
    float:left;
}